{% extends "base.html.twig" %}



{% block body %}
   <main class="container main-content">

        <div class ="row">
            {% for bird in birds %}

            
                <div class="col-1">
                    <img class="bird-card__image" src="{{ asset("images/")}}{{bird.image}}" width="50%">
                </div>   
                <div class="col-11">
                    <h3 >{{ bird.name|e }}</h3>
                    <h4> Quantité </h4>

                </div>       
            {% endfor %}

        </div>

    </main>

{% endblock %}
